PORT = 8000
BASE_URL = /api/v1
# Database (required)

DB_URL = 
MONGODB_USE_MEMORY = false

JWT_SECRET = 
JWT_EXP_IN = 7d

EMAIL_VERIFICATION_EXPIRES_HOURS=24

APP_URL=http://localhost:8000
# FRONTEND_URL=http://localhost:3000

SMTP_SERVICE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=



CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=